{% block location_widget %}


	<div id="map-get-position" style="width: 100%; height: 400px "></div>
	{{ form_widget(form.latitude) }}
	{{ form_widget(form.longitude) }}
	<script>


		$("#map-get-position").gmap3({

				map: {
					options: {
						center: [{{ google_map.small_map.lat }}, {{ google_map.small_map.lng }}],
						zoom:{{  google_map.small_map.zoom }},
						mapTypeControl: true,
						mapTypeControlOptions: {
							style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
						},
						navigationControl: true,
						scrollwheel: true,
						streetViewControl: true
					}
				}
			}
		);

		{% if  form.longitude.vars.value  and form.latitude.vars.value  %}
		$("#map-get-position").gmap3({


				marker: {
					latLng: new google.maps.LatLng({{ form.latitude.vars.value }}, {{ form.longitude.vars.value }}),
					options: {
						draggable: true
					},
					events: {
						drag: function (marker, event) {

							$("#{{ form.longitude.vars.id }}").val(marker.position.lng());
							$("#{{ form.latitude.vars.id }}").val(marker.position.lat());
						}
					}

				},

				map: {
					options: {
						center: [{{ form.latitude.vars.value }}, {{ form.longitude.vars.value }}]
					}
				}
			}


		)
		;

		{% else %}

		$("#map-get-position").gmap3({
			getgeoloc: {
				callback: function (latLng) {
					if (!latLng) {
						latLng = new google.maps.LatLng({{ google_map.small_map.lat }}, {{ google_map.small_map.lng }});
					}

					$("#{{ form.longitude.vars.id }}").val(latLng.lng());
					$("#{{ form.latitude.vars.id }}").val(latLng.lat());

					$(this).gmap3({

						marker: {
							latLng: latLng,
							options: {
								draggable: true
							},
							events: {
								drag: function (marker, event) {

									$("#{{ form.longitude.vars.id }}").val(marker.position.lng());
									$("#{{ form.latitude.vars.id }}").val(marker.position.lat());
								}
							}
						},
						map: {
							options: {
								zoom: {{  google_map.small_map.zoom }}
							}
						}
					});

					$(this).gmap3("get").setCenter(latLng);


				}
			}
		});

		{% endif %}

	</script>

{% endblock %}