{% block gmarker_widget %}


    {% for child in form %}

        {{ dump(child) }}

    {% endfor %}
    {#<input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>#}
    <div id="map-get-position" style="width: 100%; height: 400px "></div>

    <script>


        $("#map-get-position").gmap3({

            map: {
                options: {
                    center: [{{ google_map.small_map.lat }}, {{ google_map.small_map.lng }}],
                    zoom:{{  google_map.small_map.zoom }},
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                    },
                    navigationControl: true,
                    scrollwheel: true,
                    streetViewControl: true
                }
            },
            getgeoloc: {
                callback: function (latLng) {
                    if (latLng) {
                        $(this).gmap3({
                            marker: {
                                latLng: latLng,
                                options: {
                                    draggable: true
                                },
                                events: {
                                    drag: function (marker, event) {

                                        {#$("#{{ lat_id }}").val(marker.position.lat());#}
                                        {#$("#{{ long_id }}").val(marker.position.lat());#}
                                    }
                                }
                            },
                            map: {
                                options: {
                                    zoom: {{  google_map.small_map.zoom }}
                                }
                            }
                        });

                        $(this).gmap3("get").setCenter(latLng);

                    }
                }
            }
        });
    </script>

{% endblock %}